<!-- Footer -->
<footer class="page-footer pt-4 bgc-blue">

    <!-- Footer Links -->
    <div class="container-fluid">
  
      <!-- Grid row -->
      <div class="row">
  
        
        <!-- Grid column -->
        <div class="col-md-3 text-center">
  
          <!-- Links -->
          <h3 class="text-uppercase title-light">Plan du site</h3>
  
          <ul class="list-unstyled">
            <li>
              <a class="footer-list" href="#!">Accueil</a>
            </li>
            <li>
              <a class="footer-list" href="#!">Présentation</a>
            </li>
            <li>
              <a class="footer-list" href="#!">Comment ça marche</a>
            </li>
            <li>
              <a class="footer-list" href="#!">Témoignages</a>
            </li>
            <li>
              <a class="footer-list" href="#!">Contact</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
        <div class="col-md-6 text center">
  
            <!-- Content -->
            <a href="#"><h1 class="text-center title-light">Projet Coloc</h1></a>
            
    
          </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3">
  
          <!-- Links -->
          <div class="social-links text-center">
            <h3 class="text-uppercase title-light">Réseaux sociaux</h3>
            <a href="#"><img class="fb-light img-fluid z-depth-3 rounded"src="assets/img/facebook-light.png" alt="facebook"/></a>
            <a href="#"><img class="txt-light img-fluid z-depth-3 rounded"src="assets/img/twitter-light.png" alt="facebook"/></a>
            <a href=""><img class="insta-light img-fluid z-depth-3 rounded"src="assets/img/instagram-light.png" alt="facebook"/></a>
          </div>
  
           
        </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Projet Coloc© 2020 -
    <a class="footer-bottom" [routerLink]="['/cgu']">Conditions générales d'utilisation - </a>
    <a class="footer-bottom" href="#">Politique de confidentialité</a>
  </div>
  <!-- Copyright -->
  
</footer>
<!-- Footer -->
