@import '../../../styles.scss';

h1 {
    font-size: 3em;
}

h2 {
    color: #093180;
}

h3 {
    color: #093180;  
}

li {
    font-weight: 600; 
    color: #333333; 
}

p {
    margin-bottom: 0;
}

