<div class="main-container">
    <div class="row d-flex justify-content-center mt-4">
      <div class="col-xl-6 col-md-9 col-12">
          <h2>Editer une genre</h2>
          <button
            type="button"
            mdbBtn
            class="relative waves-light bgc-blue back-button"
            mdbWavesEffect
            [routerLink]="['/admin/genders']"
          >
            revenir à la liste
          </button>
  
        <form (ngSubmit)="onSubmit()">
          <div class="md-form">
            <input
              mdbInput
              type="text"
              name="name"
              autocomplete="off"
              id="form1"
              class="form-control"
              [(ngModel)]="gender.name"
            />
            <label for="form1" class="">Nom de genre</label>
  
            <button
              type="submit"
              mdbBtn
              class="relative waves-light bgc-blue send-button"
              [disabled]="!gender.name"
              mdbWavesEffect
            >
              éditer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  